* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46.5px;
    background-color: black;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > ul > li > a {
    text-transform: uppercase;
}

#nav li:hover > a {
    color: black !important;
    background-color: #ccc;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46.5px;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    color: black;
    background-color: white;
    padding: 0 16px;
}

#header #nav_search {
    float: right;
    line-height: 46.5px;
    padding: 0 24px;
}

#header #nav_search:hover {
    background-color: #f44336 !important;
    cursor: pointer;
}

#header #nav_search .fa-solid.fa-magnifying-glass {
    color: white;
    font-size: 14px;
}

#slider {
    position: absolute;
    top: 46.5px;
    left: 0;
    right: 0;
}

#content {

}

#footer {

}
