* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > ul > li > a {
    text-transform: uppercase;
}

#nav li:hover > a {
    color: black !important;
    background-color: #ccc;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46.5px;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    color: black;
    background-color: white;
    padding: 0 16px;
}

#header #nav_search {
    float: right;
    line-height: 46.5px;
    padding: 0 24px;
}

#header #nav_search:hover {
    background-color: #f44336 !important;
    cursor: pointer;
}

#header #nav_search .fa-solid.fa-magnifying-glass {
    color: white;
    font-size: 14px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / contain no-repeat;
}

#slider .slider-content {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
}

#slider .slider-content .slider-heading {
    font-size: 24px;
    font-weight: 500;
}

#slider .slider-content .slider-text {
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 47px;
}

#content {
    
}

#content .content-div {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .content-div .content-heading {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .content-div .content-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .content-div .content-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#footer {

}
