* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > ul > li > a {
    text-transform: uppercase;
}

#nav li:hover > a {
    color: black !important;
    background-color: #ccc;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46.5px;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    color: black;
    background-color: white;
    padding: 0 16px;
}

#header #nav_search {
    float: right;
    line-height: 46.5px;
    padding: 0 24px;
}

#header #nav_search:hover {
    background-color: #f44336 !important;
    cursor: pointer;
}

#header #nav_search .fa-solid.fa-magnifying-glass {
    color: white;
    font-size: 14px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / contain no-repeat;
}

#slider .slider-content {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
}

#slider .slider-content .slider-heading {
    font-size: 24px;
    font-weight: 500;
}

#slider .slider-content .slider-text {
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 47px;
}

#content {
    
}

#content .content-div {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .content-div .content-heading {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .content-div .content-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .content-div .content-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 32px 0;
}

#content .member-list .member{
    float: right;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: calc(100% / 1.6);
    border-radius: 4px;
}

#content .tour-section {
    background-color: black;
}

#content .tour-section .list-tour {
    background-color: white;
    margin-top: 40px;
}

.list-tour li {
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: #ddd 1px solid;
    color: #757575;
    list-style-type: none;
}

.list-tour .sold-out {
    background-color: #f44336;
    color: white;
    margin: 0 0 0 16px;
    padding: 3px 8px;
}

.list-tour .quantity {
    float: right;
    width: 24px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-right: 16px;
    padding: 0 8px;
    margin-top: -3px;
}

.tour-section .ticket-tour {
    margin-top: 30px;
    margin-left: -9px;
    margin-right: -9px;
}

.tour-section .ticket1 {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 40px;
}

.tour-section .ticket1 img {
    width: 100%;
    display: block;
}

.tour-section .ticket1 img:hover {
    opacity: 0.6;
}

.tour-section .ticket-main {
    background-color: white;
    width: 100%;
    padding: 15px 15px 23px 15px;
}

.tour-section .ticket-place {
    font-weight: 600;
}

.tour-section .ticket-time {
    color: #757575;
    padding: 20px 0;
}

.tour-section .ticket-des {
    margin-bottom: 20px;
}

.tour-section .ticket-buy {
    text-decoration: none;
    display: inline;
    color: white;
    background-color: black;
    padding: 10px;
}

.tour-section .ticket-buy:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

#content .contact-content {
    margin-top: 45px;
}

#content .contact-information {
    width: 50%;
    display: inline-block;
}

#content .contact-information1 {
    padding: 3px 0;
}

#content .contact-content i {
    padding-right: 10px;
}

#content .contact-content .fa-location-dot {
    margin-right: 3px;
}

#content .contact-information1 p {
    display: inline-block;
    font-size: 18px;
}

#content .contact-send {
    width: 50%;
    float: right;
}

#content .contact-name {
    width: 48%;
    padding: 7px;
    margin-right: 11.5px;
    border: #ccc 1px solid;
    margin-bottom: 9px;
}

#content .contact-email {
    width: 48%;
    padding: 7px;
    border: #ccc 1px solid;
    margin-bottom: 9px;
}

#content .contact-message {
    width: 100%;
    padding: 7px;
    border: #ccc 1px solid;
}

#content .button-send {
    float: right;
    display: inline-block;
    padding: 10px;
    margin-top: 16px;
    color: white;
    background-color: black;
}

#content .button-send:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#footer {

}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 900px;
    max-width: calc(100% - 32px);
    background-color: white;
    position: relative;
    margin-top: -150px;
    animation: modalFadeIn ease 0.7s;
}

.modal-x {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 14px;
}

.modal-x:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-header {
    background-color: #009688;
    text-align: center;
    padding: 50px 0;
    letter-spacing: 3px;
    color: white;
    font-size: 30px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    margin-bottom: 25px;
    width: 100%;
    padding: 12px 6px;
    border: #ccc 1px solid;
}

.modal .pay {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 16px 0;
    margin-top: -10px;
}

.modal .pay:hover {
    opacity: 0.7;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 11px;
}

.modal-x-bottom {
    color: white;
    background-color: #f44336;
    display: inline;
    padding: 12px;
}

.modal-x-bottom:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.modal-help {
    float: right;
}
.modal-help .help {
    color: #2196f3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





